In [16]:
import matplotlib.pyplot as pl
import numpy as np
import pandas as pd

In [17]:
file = "./data from book/BrainCancer.csv"
data = pd.read_csv(file)
data.head()

,Unnamed: 0,sex,diagnosis,loc,ki,gtv,stereo,status,time
0,1,Female,Meningioma,Infratentorial,90,6.11,SRS,0,57.64
1,2,Male,HG glioma,Supratentorial,90,19.35,SRT,1,8.98
2,3,Female,Meningioma,Infratentorial,70,7.95,SRS,0,26.46
3,4,Female,LG glioma,Supratentorial,80,7.61,SRT,1,47.80
4,5,Male,HG glioma,Supratentorial,90,5.06,SRT,1,6.30

In [19]:
ls = []
leadger = 
def categorical_data(x,ls):
    if x not in ls:
        ls.append(x)
        ke
    return ls.index(x)

data['diagnosis'] = data['diagnosis'].apply(categorical_data)
print(ls)
data

[0, 1, 2, 3, 4]

,Unnamed: 0,sex,diagnosis,loc,ki,gtv,stereo,status,time
0,1,Female,0,Infratentorial,90,6.11,SRS,0,57.64
1,2,Male,1,Supratentorial,90,19.35,SRT,1,8.98
2,3,Female,0,Infratentorial,70,7.95,SRS,0,26.46
3,4,Female,2,Supratentorial,80,7.61,SRT,1,47.80
4,5,Male,1,Supratentorial,90,5.06,SRT,1,6.30
...,...,...,...,...,...,...,...,...,...
83,84,Male,1,Supratentorial,80,0.16,SRT,1,20.69
84,85,Male,1,Supratentorial,80,19.81,SRT,1,6.39
85,86,Male,0,Supratentorial,90,2.50,SRT,0,32.82
86,87,Male,0,Supratentorial,90,2.02,SRS,0,42.07
87,88,Male,4,Infratentorial,80,0.11,SRT,0,13.90